.landing_wrapper{
    min-height: 100vh;
    padding: 4rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    .project_model{
        overflow: scroll;
        position: absolute;
        width: 60vw;
        height: 80vh;
        background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72);
        border: 2px solid cyan;
        bottom: 12%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 2rem 5rem ;
        border-radius: 10px;
        transform: scale(0);
        &::-webkit-scrollbar{
            display: none;
        }
        p{
            line-height: 1.5rem;
            font-size: 1.2rem;
            color: #fff;
        }
        a{
            cursor: pointer;
            border: 2px solid rgb(23, 158, 158);
            padding: 1rem 2rem;
            transition: all 0.2s linear;
            background: transparent;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            &:hover{
                background-color: #00b47881;
            }
            border-radius: 8px;
        }
        .fa-xmark{
            position: absolute;
            font-size: 2rem;
            color: #fff;
            top: 2%;
            right: 2%;
            cursor: pointer;
        }

    }

    h1{
        font-size: 2rem;
        text-transform: uppercase;
        color: #fff;
    }

    .landing_cont{
        display: flex;
        flex-wrap: wrap;
        .image{
            width: 50%;
            img{
                position: relative;
                width: 70%;
                transform: translate(10%,25%);
                &:nth-child(2){
                    top:-25%;
                    left: 20%;
                }
            }
        }
        .landing_info{
            color: #fff;
            width: 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 0 1.5rem;
            gap: 1rem;
            h3{
                font-family: 'Silkscreen', cursive;
                font-size: 2rem;
            }
            p{
                &:nth-child(2){
                    align-self: flex-end;
                }
                &:nth-child(3){
                    line-height: 1.5rem;
                }
            }
            button{
                cursor: pointer;
                border: 2px solid rgb(23, 158, 158);
                padding: 1rem 2rem;
                transition: all 0.2s linear;
                background: transparent;
                color: #fff;
                font-weight: bold;
                text-transform: uppercase;
                &:hover{
                    background-color: #00b47881;
                }
            }
        }
    }
}

@media screen and (max-width:900px) {
    .landing_wrapper{
        .landing_cont{
            flex-direction: column;
            .image{
                width: 100%;
                img{
                    &:nth-child(2){
                        transform: translateY(-25%);
                    }
                }
            }
            .landing_info{
                width: 100%;
            }
        }
    }
}
@media screen and (max-width:900px) {
    .landing_wrapper{
        .project_model{
            width: 100%;
        }
        .landing_cont{
            .landing_info{
                padding: 0;
            }
        }
    }
}
@media screen and (max-width:786px) {
    .landing_wrapper{
        .project_model{
           padding: 2rem;
        }
        
    }
}






